.certificate_container {
  background-color: white;
}

.certificate_imgs {
  margin-left: -10px;
}

.certificate {
  float: left;
  width: 430px;
  height: 598px;
}
.certificate:first-child {
  margin-right: 50px;
}

.footer_info {
  position: absolute;
  right: 0;
  bottom: -320px;
  width: 411px;
  height: 288px;
  padding-left: 64px;
  padding-top: 32px;
  font-family: "PT Sans Regular";
  font-size: 18px;
  color: #9d9c9f;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 28px;
  z-index: 9999;
}
.footer_info ul {
  color: white;
}

.developer {
  position: absolute;
  bottom: -315px;
  right: 503px;
  z-index: 9999;
  font-family: "PT Sans Regular";
  font-size: 16px;
  color: black;
}
.developer .link_developer {
  color: black;
  text-transform: uppercase;
}

.contacts_table__cell--time {
  padding-left: 20px;
}

.contacts_footer--a {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular";
  font-size: 18px;
  color: white;
}

.certificate_modal {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999999;
  background-color: rgba(255, 255, 255, 0.8);
}
.certificate_modal .certificate_img_popup {
  height: 650px;
  width: 472px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
