.footer {
  height: 320px;
  position: relative;
}

.footer_info, .work_time, .telephone, .address_name {
  margin: 0px;
  list-style: none;
}

.work_time, .telephone, .address_name {
  padding-left: 35px;
}

.mail_address {
  text-decoration: underline;
}
