.gopro_img {
  float: left;
  width: 305px;
  height: 306px;
  margin-right: 43px;
}

.info_1 {
  float: left;
  width: 181px;
  font-family: "PT Sans Regular";
  font-size: 16px;
  color: #2c2c2c;
  line-height: 18px;
}

.info_title {
  font-family: "PT Sans Bold";
  font-size: 16px;
  color: #2c2c2c;
  margin-bottom: 13px;
}
