.header_container {
  min-height: 526px;
  margin-top: 99px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 75%;
  background-image: url("../img/header_content.jpg");
}

.connect_block {
  width: 402px;
  margin-top: 125px;
}

.connect_block_title {
  margin: 0px;
  font-family: "PT Sans Caption Bold";
  font-size: 30px;
  color: white;
}

.connect_block_description {
  margin: 7px 0px 0px;
  font-family: "PT Sans Bold";
  font-size: 20px;
  color: white;
}

.connect_block_btn {
  float: left;
  width: 141px;
  min-height: 42px;
  margin-top: 40px;
  background-color: #ef6210;
  border-radius: 3px;
  text-align: center;
  line-height: 42px;
  text-decoration: none;
  font-family: "PT Sans Regular";
  font-size: 18px;
  color: white;
}
