.logo {
  float: left;
  width: 160px;
  height: 42px;
  margin-right: 80px;
  background-image: url("../img/logo.png");
}

.menu_top {
  float: left;
  height: 42px;
  font-family: "PT Sans Regular";
  font-size: 16px;
  color: white;
}
.menu_top .menu_li {
  display: inline-block;
  position: relative;
  bottom: -8px;
  text-decoration: underline;
  cursor: pointer;
  vertical-align: bottom;
  line-height: 16px;
}
.menu_top .menu_li:nth-child(1) {
  width: 180px;
  margin-right: 46px;
}
.menu_top .menu_li:nth-child(2) {
  margin-right: 63px;
}
.menu_top .menu_li:nth-child(3) {
  margin-right: 90px;
}

.gopro_link, .price_link {
  display: block;
  margin-bottom: 4px;
}

.header {
  min-height: 571px;
  padding-top: 25px;
}
.header a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1600px) {
  .header {
    background-image: url("../img/header_back_1600.jpg");
  }
}
@media (max-width: 1440px) {
  .header {
    background-image: url("../img/header_back_1440.jpg");
  }
}
@media (max-width: 1366px) {
  .header {
    background-image: url("../img/header_back_1366.jpg");
  }
}
@media (max-width: 1280px) {
  .header {
    background-image: url("../img/header_back_1280.jpg");
  }
}
@media (max-width: 1024px) {
  .header {
    background-image: url("../img/header_back_1024.jpg");
  }
}
@media (max-width: 800px) {
  .header {
    background-image: url("../img/header_back_800.jpg");
  }
}
@media (max-width: 960px) {
  .header {
    background-image: url("../img/header_back_960.jpg");
  }
}
.telephones {
  float: left;
  width: 172px;
  font-family: "PT Sans Bold";
  font-size: 20px;
  color: white;
}
.telephones a {
  display: block;
  text-decoration: none;
  color: white;
}

.header_top {
  margin-bottom: 170px;
}

.header_main {
  font-family: "PT Sans Narrow";
  font-size: 20px;
  color: white;
  margin-left: 60px;
}
.header_main .header_title {
  font-size: 48px;
  margin-bottom: 0;
}
.header_main .header_description {
  font-size: 24px;
  width: 370px;
  line-height: 26px;
  margin-bottom: 42px;
}
.header_main .btn_become {
  display: inline-block;
  width: 120px;
  min-height: 32px;
  font-size: 18px;
  background: #1e66f1;
  text-align: center;
  line-height: 30px;
  margin-right: 16px;
}
.header_main .btn_calculate {
  display: inline-block;
  width: 164px;
  min-height: 31px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  border: 1px solid white;
}
