.header {
  position: fixed;
  top: 0px;
  z-index: 99999;
  width: 100%;
  min-height: 96px;
  background-color: black;
  border-top: 2px solid #ef6210;
}

.logo {
  display: inline-block;
  margin-top: 26px;
  line-height: 36px;
  font-family: "furore";
  font-size: 36px;
  color: #f0efea;
}

.soc_btns {
  float: right;
  height: 42px;
}
.soc_btns a {
  width: 43px;
  height: 45px;
  display: inline-block;
  text-decoration: none;
}

.mail_tab {
  display: inline-block;
  width: 43px;
  height: 45px;
  vertical-align: middle;
  -moz-transform: translateZ(0) skew(-20deg);
  -o-transform: translateZ(0) skew(-20deg);
  -webkit-transform: translateZ(0) skew(-20deg);
  transform: translateZ(0) skew(-20deg);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 21px;
  top: -38px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

@media (max-width: 960px) {
  .mail_tab {
    left: 10px;
  }
}
.mail_tab:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ef6210;
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.mail_tab:hover, .mail_tab:focus, .mail_tab:active, .mail:hover + .mail_tab {
  color: white;
}

.mail_tab:hover:before, .mail_tab:focus:before, .mail_tab:active:before, .mail:hover + .mail_tab:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.vk_tab {
  display: inline-block;
  width: 43px;
  height: 45px;
  vertical-align: middle;
  -moz-transform: translateZ(0) skew(-20deg);
  -o-transform: translateZ(0) skew(-20deg);
  -webkit-transform: translateZ(0) skew(-20deg);
  transform: translateZ(0) skew(-20deg);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 19px;
  top: -38px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

@media (max-width: 960px) {
  .vk_tab {
    left: 8px;
  }
}
.vk_tab:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #527498;
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.vk_tab:hover, .vk_tab:focus, .vk_tab:active, .vk:hover + .vk_tab {
  color: white;
}

.vk_tab:hover:before, .vk_tab:focus:before, .vk_tab:active:before, .vk:hover + .vk_tab:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.vk {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 21px;
  width: 14px;
  height: 18px;
  margin-top: 16px;
  margin-left: 10px;
  background: url("../img/vk.png") no-repeat;
  z-index: 1;
}
.vk:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.vk:hover:before {
  opacity: 0;
}

@media (max-width: 960px) {
  .vk {
    left: 10px;
  }
}
.mail {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 20px;
  width: 20px;
  height: 14px;
  margin-top: 20px;
  margin-left: 10px;
  background: url("../img/mail.png") no-repeat;
  z-index: 1;
}
.mail:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.mail:hover:before {
  opacity: 0;
}

@media (max-width: 960px) {
  .mail {
    left: 9px;
  }
}
.address {
  float: right;
  margin-top: 13px;
  margin-right: -6px;
  text-align: right;
  font-family: "PT Sans Regular";
  font-size: 14px;
  color: #f0efea;
  text-decoration: underline;
}
.address:before {
  position: relative;
  left: -12px;
  bottom: -5px;
  display: inline-block;
  content: "";
  width: 11px;
  height: 17px;
  background: url("../img/map_pin.png");
}

@media (max-width: 960px) {
  .address {
    margin-right: 5px;
  }
}
.connect_block_links {
  text-align: right;
  text-transform: uppercase;
}
.connect_block_links a {
  font-family: "PT Sans Bold";
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.connect_block_links .phone {
  font-family: "PT Sans Bold";
  font-size: 16px;
  color: #ef6210;
  margin-right: 24px;
}
.connect_block_links .prices {
  display: inline-block;
  margin-right: 22px;
  height: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 4px solid black;
}
.connect_block_links .prices:hover {
  border-bottom: 4px solid #ef6210;
}
.connect_block_links .discounts {
  display: inline-block;
  margin-right: 23px;
  height: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 4px solid black;
}
.connect_block_links .discounts:hover {
  border-bottom: 4px solid #ef6210;
}
.connect_block_links .contacts {
  display: inline-block;
  margin-right: -2px;
  height: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 4px solid black;
  z-index: 555;
}
.connect_block_links .contacts:hover {
  border-bottom: 4px solid #ef6210;
}
