.service_container {
  min-height: 381px;
  background-color: #f0efea;
}

.service_title {
  display: block;
  font-family: "PT Sans Bold";
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.service_text {
  display: block;
  line-height: 24px;
  font-family: "PT Sans Regular";
  font-size: 16px;
  color: black;
}

.service {
  float: left;
  margin-right: 57px;
  padding-top: 64px;
  width: 178px;
  min-height: 300px;
}
.service:last-child {
  margin-right: 0px;
}

.service1_img {
  width: 70px;
  height: 85px;
  background: url("../img/service.png") no-repeat -5px -290px;
}

.service2_img {
  width: 57px;
  height: 85px;
  background: url("../img/service.png") no-repeat -5px -5px;
}

.service3_img {
  width: 70px;
  height: 85px;
  background: url("../img/service.png") no-repeat -5px -195px;
}

.service4_img {
  width: 97px;
  height: 85px;
  background: url("../img/service.png") no-repeat -5px -100px;
}

.service1_img, .service2_img, .service3_img, .service4_img {
  margin-bottom: 29px;
}
