@import url(../app/bower_components/normalize-css/normalize.css);
@import url(../fonts/furore/furore.css);
@import url(../css/header.css);
@import url(../css/header_container.css);
@import url(../css/service_container.css);
@import url(../css/form_container.css);
@import url(../css/prices_container.css);
@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/ptsans/ptc55f-webfont.eot");
  src: url("../fonts/ptsans/ptc55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/ptc55f-webfont.woff2") format("woff2"), url("../fonts/ptsans/ptc55f-webfont.woff") format("woff"), url("../fonts/ptsans/ptc55f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption Bold';
  src: url("../fonts/ptsans/ptc75f-webfont.eot");
  src: url("../fonts/ptsans/ptc75f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/ptc75f-webfont.woff2") format("woff2"), url("../fonts/ptsans/ptc75f-webfont.woff") format("woff"), url("../fonts/ptsans/ptc75f-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/ptsans/ptn57f-webfont.eot");
  src: url("../fonts/ptsans/ptn57f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/ptn57f-webfont.woff2") format("woff2"), url("../fonts/ptsans/ptn57f-webfont.woff") format("woff"), url("../fonts/ptsans/ptn57f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow Bold';
  src: url("../fonts/ptsans/ptn77f-webfont.eot");
  src: url("../fonts/ptsans/ptn77f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/ptn77f-webfont.woff2") format("woff2"), url("../fonts/ptsans/ptn77f-webfont.woff") format("woff"), url("../fonts/ptsans/ptn77f-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Regular';
  src: url("../fonts/ptsans/pts55f-webfont.eot");
  src: url("../fonts/ptsans/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/pts55f-webfont.woff2") format("woff2"), url("../fonts/ptsans/pts55f-webfont.woff") format("woff"), url("../fonts/ptsans/pts55f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Italic';
  src: url("../fonts/ptsans/pts56f-webfont.eot");
  src: url("../fonts/ptsans/pts56f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/pts56f-webfont.woff2") format("woff2"), url("../fonts/ptsans/pts56f-webfont.woff") format("woff"), url("../fonts/ptsans/pts56f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/ptsans/pts75f-webfont.eot");
  src: url("../fonts/ptsans/pts75f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/pts75f-webfont.woff2") format("woff2"), url("../fonts/ptsans/pts75f-webfont.woff") format("woff"), url("../fonts/ptsans/pts75f-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold Italic';
  src: url("../fonts/ptsans/pts76f-webfont.eot");
  src: url("../fonts/ptsans/pts76f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/pts76f-webfont.woff2") format("woff2"), url("../fonts/ptsans/pts76f-webfont.woff") format("woff"), url("../fonts/ptsans/pts76f-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'furore';
  src: url("../fonts/furore/furore-webfont.eot");
  src: url("../fonts/furore/furore-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/furore/furore-webfont.woff2") format("woff2"), url("../fonts/furore/furore-webfont.woff") format("woff"), url("../fonts/furore/furore-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background: white;
  height: 100%;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

html {
  height: 100%;
  width: 100%;
}

.main_container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}
