doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
	head

		head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		title Аренда GoPro Hero3+ Black Edition Чебоксары

		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

		meta(name='viewport' content='width=960')
		link(rel='stylesheet', href='css/style.css', type='text/css')

		//qtip2
		link(rel='stylesheet', href='app/bower_components/qtip2/jquery.qtip.css', type='text/css')
		//normalize
		link(rel='stylesheet', href='app/bower_components/normalize-css/normalize.css', type='text/css')
		// modernizr
		script(src='app/bower_components/modernizr/modernizr.js')
		//Swiper
		link(rel='stylesheet', href='app/bower_components/Swiper/dist/css/swiper.min.css', type='text/css')

	body
		<!--[if lt IE 8]>
		<p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
		<![endif]-->
		.header.content_container
			.main_container.clearfix
				.header_top.clearfix
					a.logo(href="#")
					ul.menu_top
						li.menu_li
							a(href="#") О камерах<br> и аксессуарах
						li.menu_li
							a(href="#") Условия аренды
						li.menu_li
							a(href="#") Расчет цены
					.telephones
						a(href="tel:+79176767981") +7 (919) 676 79-81
						a(href="tel:+79876740079") +7 (987) 674 00-79
				.header_main
					h1.header_title
						| Аренда GoPro Hero3+ Black Edition
					h2.header_description
						| Впечатления в FULL-HD по доступной цене
						| в Чебоксарах и Новочебоксарске
					.header_btns
						a(href="#").btn_become
							| стать героем
						a(href="#").btn_calculate
							| рассчитать цену
		.features_container.content_container
			.main_container.clearfix
				h2.container_title
					| Начните съемку прямо сейчас
				.features
					.feature_block
						.feature_img
						.feature_title
							| Позвоните или оставьте заявку
						.feature_desc
							| Мы свяжемся с вами втечение 10 минут
						a(href="#").features_btn
							| Оставить заявку
					.feature_block
						.feature_img
						.feature_title
							| Мы заключаем<br> с вами <u>договор</u>
						.feature_desc
							| Чтобы понять друг друга и никому ничего за это не было
					.feature_block
						.feature_img
						.feature_title
							| Вы снимаете крутое видео в FULL-HD
						.feature_desc
							| И, по желанию, заливаете на наш канал на YouTube
					.feature_block
						.feature_img
						.feature_title
							| Встречаемся снова
						.feature_desc
							| Возвращаете камеру, мы горячо вас благодарим и добавляем на сайт в раздел <u>“отзывы”</u>
		.kit_container.content_container
			.main_container.clearfix
				h2.container_title
					| Комплект GoPro HERO3+ Black Edition
				.main_kit
					.kit_desc
						| Заказывая в аренду одну камеру GoPro Hero3+,<br> вы получаете весь<br> комплект Black Edition
					.camera_desc
						| Камера<br> GoPro HERO3+
					.sd_desc
						| Карта памяти 64 Gb
					.akk_case_block
						.akk_desc
							| Аккумулятор 1080 mAh
						.case_desc
							| Противоударный<br> водонепроницаемый корпус
					.cable_usb
						| Кабель USB
				.additional_container_title
					| + одно крепление на выбор
			.swiper-container
				.swiper-wrapper
					.additional_item.swiper-slide
						img(src="img/bosch.png" alt="bosch" width="227" height="110")
					.additional_item.swiper-slide
						img(src="img/valeo.png" alt="valeo" width="227" height="110")
					.additional_item.swiper-slide
						img(src="img/unipoint.png" alt="unipoint" width="227" height="110")
					.additional_item.swiper-slide
						img(src="img/saemoto.png" alt="saemoto" width="227" height="110")
					.additional_item.swiper-slide
						img(src="img/tesla.png" alt="tesla" width="227" height="110")
					.additional_item.swiper-slide
						img(src="img/ika.png" alt="ika" width="227" height="110")
					.additional_item.swiper-slide
						img(src="img/wai.png" alt="wai" width="227" height="110")
		.gopro_container.content_container
			.main_container.clearfix
				h2.container_title
					| Характеристики камеры GoPro Hero3+
				.gopro_info
					.gopro_img
						img(src="../img/cam.png" alt="камера" width=305 height=306)
					.info_1
						.info_title
							| Разрешение видео
						| 4K............................12fps
						| 2,7K.........................30fps
						| 1080p......................50fps
						| 1440p......................48fps
						| 960p, 720p............100fps
						| WVGA ................... 240fps<br><br>
						.info_title
							| Форматы видео
						| H.264, MPEG4; фото JPG<br><br>
						.info_title
							| Разрешение фото
						| 10 МП.............3680x2760
						| 7 МП...............3072х2304
						| 5 МП...............2624х1968
					.info_2
						.info_title
							| Интерфейсы и носители
						| HDMI, AV, USB, Wi-Fi, microSD<br><br>
						.info_title
							| Питание
						| Аккумулятор AHDBT-302 1180mAH, 3.7V, 4366mWh
					.pult
						img(src="../img/pult.png" alt="пульт" width=210 height=195)
		.prices_container.content_container
			.main_container.clearfix
				h2.container_title
					| Расчитаейте цену :)
				.prices_table
					table.table
						tr.head
							td(colspan=2).heat
								| Пожалуйста, выберите количество<br> необходимых камеркреплений и аксессуаров
							td.roubl
								| Стоимость за сутки,<span class="rouble">i<span>
							td.disc_td
								| Сроки<br> аренды
						tr(style="height: 20px").table_tr
							td.table_td
								span.minus -
								input(type="text" value=1).qual
								span.plus +
							td.table_td
								| Комплект GoPro Hero Black Edition
							td.table_td
								| 350
							td(rowspan=15).disc_scale
								input(type="range" min=1 max=29 step=1 value=7).range
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Крепление на голову
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Крепление на грудь
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Монопод (палка) 20-100 см
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Ручка-поплавок
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Крепление на руль велосипеда/трубу
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Крепление на запястье/ногу
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Крепление на шлем/поверхность
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Крепление на стропы кайта
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Крепление на фотоаппарат
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Крепление на кепку/карман
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Присоска на машину
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Пульт управления
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Дополнительный аккумулятор
							td.table_td
								| 50
						tr(style="height: 20px").table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual
								span.plus +
							td.table_td
								| Дополнительная карта памяти
							td.table_td
								| 50
					//input(type="range" min=1 max=29 step=1 value=7).range

		script(src="app/bower_components/jquery/jquery.js")
		script(src="app/bower_components/qtip2/jquery.qtip.js")
		script(src="app/bower_components/Swiper/dist/js/swiper.min.js")
		script(src="app/bower_components/Swiper/dist/js/swiper.jquery.min.js")
		script(src="js/main.js")