doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
	head

		head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		title Аренда GoPro Hero3+ Black Edition Чебоксары

		link(rel="icon" type="image/png" sizes="32x32" href="img/favicon.ico")

		meta(name='viewport' content='width=960')
		link(rel='stylesheet', href='css/style.css', type='text/css')

		//qtip2
		link(rel='stylesheet', href='app/bower_components/qtip2/jquery.qtip.css', type='text/css')
		//normalize
		link(rel='stylesheet', href='app/bower_components/normalize-css/normalize.css', type='text/css')
		// modernizr
		script(src='app/bower_components/modernizr/modernizr.js')
		//Swiper
		link(rel='stylesheet', href='app/bower_components/swiper/dist/css/swiper.min.css', type='text/css')

	body
		<!--[if lt IE 8]>
		<p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
		<![endif]-->
		.header.content_container
			.main_container.clearfix
				.header_top.clearfix
					.logo
					ul.menu_top
						li.menu_li
							a(href="#gopro").gopro_link О камере GoPro HERO3+<br>
							a(href="#compl").kit_link Комплект Black Edition
						li.menu_li
							a(href="#prices").price_link Цены<br>
							a(href="#prices").calc_link Расчет цены
						li.menu_li
							a(href="#comments").review_link Отзывы
					.telephones
						a(href="tel:+79176767981") +7 (919) 676 79-81
						a(href="tel:+79876740079") +7 (987) 674 00-79
				.header_main
					h1.header_title
						| Аренда GoPro Hero3+ Black Edition
					h2.header_description
						| Впечатления в FULL-HD по доступной цене
						| в Чебоксарах и Новочебоксарске
					.header_btns
						a(href="#").btn_become
							| стать героем
						a(href="#prices").btn_calculate
							| рассчитать цену
		.features_container.content_container
			.main_container.clearfix
				h2.container_title
					| Начните съемку прямо сейчас
				.features
					.feature_block
						.feature_img
						.feature_title
							| Позвоните или оставьте заявку
						.feature_desc
							| Мы свяжемся с вами втечение 10 минут
						a(href="#").features_btn
							| Оставить заявку
					.feature_block
						.feature_img
						.feature_title
							| Мы заключаем<br> с вами договор
						.feature_desc
							| Чтобы понять друг друга и никому ничего за это не было
					.feature_block
						.feature_img
						.feature_title
							| Вы снимаете крутое видео в FULL-HD
						.feature_desc
							| И, по желанию, заливаете на наш канал на YouTube
					.feature_block
						.feature_img
						.feature_title
							| Встречаемся снова
						.feature_desc
							| Возвращаете камеру, мы горячо вас благодарим и добавляем на сайт в раздел &laquo;отзывы&raquo;
		.kit_container.content_container
			.main_container.clearfix
				h2.container_title#compl
					| Комплект GoPro HERO3+ Black Edition
				.main_kit
					.kit_desc
						| Заказывая в аренду одну камеру GoPro Hero3+,<br> вы получаете весь<br> комплект Black Edition
					.camera_desc
						| Камера<br> GoPro HERO3+
					.sd_desc
						| Карта памяти 64 Gb
					.akk_case_block
						.akk_desc
							| Аккумулятор 1080 mAh
						.case_desc
							| Противоударный<br> водонепроницаемый корпус
					.cable_usb
						| Кабель USB
				.additional_container_title
					| + одно крепление на выбор
			.swiper-container
				.swiper-wrapper
					.additional_item.swiper-slide
						img(src="img/na_shlem.jpg" alt="крепление на шлем" width="198" height="235")
						.addit_text
							.addit_text_title
								| Крепление на шлем
							.addit_text_desc
								| Крепление даёт возможность закрепить камеру на шлеме. Подойдет для занятия велоспортом, катания на горных лыжах, мото и автогонок.<br><br>
								| Крепление легко и надежно фиксируется на поверхности шлема.
					.additional_item.swiper-slide
						img(src="img/ramka.jpg" alt="рамка для камеры" width="198" height="235")
						.addit_text
							.addit_text_title
								| Рамка для камеры
							.addit_text_desc
								| Это компактный и легкий способ крепления камеры.<br><br>
								| Примечание: Рамка не является водонепроницаемой и не приспособлена для использования в экстремальных условиях.
					.additional_item.swiper-slide
						img(src="img/na_rul.jpg" alt="крепление на руль" width="198" height="235")
						.addit_text
							.addit_text_title
								| Крепление на руль
							.addit_text_desc
								| Аксессуар позволяет закрепить GoPro камеру на рамах, трубах и многом другом.<br><br>
								| Подходит для труб диаметром от 3.5 см до 6.35 см.
					.additional_item.swiper-slide
						img(src="img/monopod.jpg" alt="палка-монопод" width="198" height="235")
						.addit_text
							.addit_text_title
								| Палка-монопод
							.addit_text_desc
								| Устройство подходит для дайвинга и активных видов спорта.<br><br>
								| Выдвижная трубка позволяет регулировать длину. Модель легко крепится к девайсу без использования дополнительных деталей.
					.additional_item.swiper-slide
						img(src="img/kayt.jpg" alt="для кайта" width="198" height="235")
						.addit_text
							.addit_text_title
								| Крепление для кайта
							.addit_text_desc
								| Универсальное крепление, которое подойдёт для всех видов кайта. Крепится на передние стропы.<br><br>
								| Подойдёт для всех экшн камер на базе крепления GoPro и SJCam либо на другие модели с небольшой доработкой.
					.additional_item.swiper-slide
						img(src="img/na_golovu.jpg" alt="крепление на голову" width="198" height="235")
						.addit_text
							.addit_text_title
								| Креплении на голову
							.addit_text_desc
								| Крепление полностью регулируется с учетом всех размеров, позволяет закрепить камеру на голове, кепке, шапке и т.п.<br><br>
								| Также можно использовать для закрепления экшн-камеры на каске или шлеме.
					.additional_item.swiper-slide
						img(src="img/na_ruku_pult.jpg" alt="крепление на руку для пульта" width="198" height="235")
						.addit_text
							.addit_text_title
								| Ремешок для пульта
							.addit_text_desc
								| Ремешок на липучке, позволяющий просто, быстро и надёжно зафиксировать пульт GoPro на запястье.<br><br>
								| При этом крепление занимает минимум места/
					//.additional_item.swiper-slide
					//	img(src="img/na_ruku_pult1.jpg" alt="крепление на руку для пульта" width="198" height="235")
					//	.addit_text
					//		.addit_text_title
					//			| Крепление на грудь
					//		.addit_text_desc
					//			| Позволяет закрепить любой защитный бокс для камер на груди или спине.<br><br>
					//			| Отличное решение для создания кадров от "первого лица". Идеально подходит для съемок большинства видов спорта
					.additional_item.swiper-slide
						img(src="img/na_ruku_pult2.jpg" alt="крепление на запястье" width="198" height="235")
						.addit_text
							.addit_text_title
								| Ремешок на запястье
							.addit_text_desc
								| Крепление с вращающейся на 360 градусов головкой с возможностью жёсткой фиксации в заданном положении.<br><br>
								| Эластичная лента с застежкой велкро. Неопреновая манжета.
					.additional_item.swiper-slide
						img(src="img/poplavok.jpg" alt="поплавок на бокс" width="198" height="235")
						.addit_text
							.addit_text_title
								| Поплавок
							.addit_text_desc
								| Задняя крышка с поплавком для водонепроницаемых боксов GoPro, крепится к задней крышке корпуса.<br><br>
								| Поплавок позволит удерживать случайно утеряный бокс с камерой на плаву.
					.additional_item.swiper-slide
						img(src="img/poplavok1.jpg" alt="поплавок" width="198" height="235")
						.addit_text
							.addit_text_title
								| Ручка-поплавок
							.addit_text_desc
								| Удобная ручка-поплавок ACTIVEFOR для GoPro Hero любой модели с ремешком на запястье.<br><br>
								| Рифленый рельеф на ручке предотвратит соскальзывание ручки-поплавка с руки.
					.additional_item.swiper-slide
						img(src="img/prisoska.jpg" alt="присоска" width="198" height="235")
						.addit_text
							.addit_text_title
								| Присоска
							.addit_text_desc
								| Присоска на плоскую поверхность Suction Cup Mount GoPro.<br><br>
								| Незаменимое дополнение видеокамеры при съемках на автомобиле, мото технике, катере и многом другом.
					.additional_item.swiper-slide
						img(src="img/pult.jpg" alt="пульт" width="198" height="235")
						.addit_text
							.addit_text_title
								| Пульт GoPro
							.addit_text_desc
								| Обеспечивает полное дистанционное управление всеми функциями камеры.<br><br>
								| Прочный, легкий в установке, ношении и водонепроницаемый на глубине до 10 м.
					.additional_item.swiper-slide
						img(src="img/na_grud.jpg" alt="крепление на грудь" width="198" height="235")
						.addit_text
							.addit_text_title
								| Крепление на грудь
							.addit_text_desc
								| Позволяет закрепить любой защитный бокс для камер на груди или спине.<br><br>
								| Отличное решение для создания кадров от "первого лица". Идеально подходит для съемок большинства видов спорта
					.additional_item.swiper-slide
						img(src="img/shtativ.jpg" alt="мини-штатив" width="198" height="235")
						.addit_text
							.addit_text_title
								| Мини-штатив
							.addit_text_desc
								| Имеет телескопические ножки, с регулируемым углом наклона.<br><br>
								| Штативы – обязательная и незаменимая принадлежность любого фото- и видеооператора.
					//.additional_item.swiper-slide
					//	img(src="img/akk.jpg" alt="аккумулятор" width="198" height="235")
					//	.addit_text
					//		.addit_text_title
					//			| Крепление на грудь
					//		.addit_text_desc
					//			| Позволяет закрепить любой защитный бокс для камер на груди или спине.<br><br>
					//			| Отличное решение для создания кадров от "первого лица". Идеально подходит для съемок большинства видов спорта


		.gopro_container.content_container
			.main_container.clearfix
				h2.container_title#gopro
					| Характеристики камеры GoPro Hero3+
				.gopro_info
					.gopro_img
						img(src="img/cam.png" alt="камера" width=305 height=306)
					.info_1
						.info_title
							| Разрешение видео
						| 4K............................12fps
						| 2,7K.........................30fps
						| 1080p......................50fps
						| 1440p......................48fps
						| 960p, 720p............100fps
						| WVGA ................... 240fps<br><br>
						.info_title
							| Форматы видео
						| H.264, MPEG4; фото JPG<br><br>
						.info_title
							| Разрешение фото
						| 10 МП.............3680x2760
						| 7 МП...............3072х2304
						| 5 МП...............2624х1968
					.info_2
						.info_title
							| Интерфейсы и носители
						| HDMI, AV, USB, Wi-Fi, microSD<br><br>
						.info_title
							| Питание
						| Аккумулятор AHDBT-302 1180mAH, 3.7V, 4366mWh
					.pult
						img(src="img/pult.png" alt="пульт" width=210 height=195)
		.prices_container.content_container
			.main_container.clearfix
				h2.container_title#prices
					| Расчитайте цену :)
				.prices_table
					table.table
						tr.head
							td(colspan=2).heat
								| Пожалуйста, выберите количество<br> необходимых камер, креплений и аксессуаров
							td.roubl
								| Стоимость за сутки,<span>i<span>
							td.disc_td
								| Сроки<br> аренды
						tr(style="height: 20px").table_tr
							td.table_td
								span.minus -
								input(type="text" value=1).qual#kit
								span.plus +
							td.table_td
								| Комплект GoPro Hero Black Edition
							td.table_td
								| 350
							td(rowspan=15).disc_scale
								input(type="range" name="flevel" min=0 max=29 step=1 value=7).range#range
								.num_days_block
									span.num_days
									span.num_days_text
										| &nbspдней
								//output(for="flevel" onforminput="value = flevel.valueAsNumber;")
								span.attention
									span.red
										| Внимание!&nbsp;
									| Скидка предоставляется только на базовый комплект GoPro HERO3+ Black Edition
								span.percent50 -50%
								span.percent30 -30%
								span.percent15 -15%
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#head
								span.plus +
							td.table_td
								| Крепление на голову
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#grud
								span.plus +
							td.table_td
								| Крепление на грудь
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#monopod
								span.plus +
							td.table_td
								| Монопод (палка) 20-100 см
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#poplavok
								span.plus +
							td.table_td
								| Ручка-поплавок
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#truba
								span.plus +
							td.table_td
								| Крепление на руль велосипеда/трубу
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#noga
								span.plus +
							td.table_td
								| Поплавок на бокс
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#shlem
								span.plus +
							td.table_td
								| Крепление на шлем/поверхность
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#kayt
								span.plus +
							td.table_td
								| Мини-штатив алюминиевый
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#foto
								span.plus +
							td.table_td
								| Ремешок на руку (для пульта)
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#kepka
								span.plus +
							td.table_td
								| Рамка для камеры (The frame)
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#car
								span.plus +
							td.table_td
								| Присоска на машину
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#pult
								span.plus +
							td.table_td
								| Пульт управления
							td.table_td
								| 50
						tr.table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#akk
								span.plus +
							td.table_td
								| Дополнительный аккумулятор
							td.table_td
								| 50
						tr(style="height: 20px").table_tr
							td.table_td
								span.minus -
								input(type="text" value=0).qual#bank
								span.plus +
							td.table_td
								| Power bank (12 000 mAh)
							td.table_td
								| 50
					.sum_container
						.sum
							.sum_per_day_block
								span.sum_per_day#sum_per_day
									| 0
								span.roubl.sum_per_day_roubl
									| i
								span.days_text
									| /сутки
							.sum_block
								span.sum_val#summa
									| 0
								span.roubl.sum_roubl
									| i
								span.some_text
									| &nbspза&nbsp
								span.sum_days#days
									| 0
								span.days
									| &nbspдней<br>
								span.discount_text
									| скидка&nbsp
								span.sum_disc#skidka
									| 0
								span.roubl.disc_roubl
									| i
						.price_list_block
							| *
							a(href="#").price_list
								| Прайс-лист
							| &nbspне является<br> публично офертой
		.video_container.content_container
			.main_container.clearfix
				iframe(width="936" height="424" src="https://www.youtube.com/embed/VxY527I862g?list=PLSSPBo7OVSZs96Cr6nEnzQpRDGwih38ie" frameborder="0" allowfullscreen)
		.inst_container.content_container
			.main_container.clearfix
				h2.container_title
					| Будьте с нами на instagram!<br>
					| @rentgoprocheb
			.inst#instafeed
		.rewiev_container.content_container
			.main_container.clearfix
				h2.container_title#comments
					| Отзывы
				.rewiev_blocks
					.rewiev_block
						img(src="img/review_img_1.jpg" alt="отзыв" width=110 height=110).rewiev_block_img
						.rewiev_block_desc
							.rewiev_block_title
								| Денис Никонов
							a(href="https://vk.com/denikon").rewiev_block_link
								| https://vk.com/denikon
							.rewiev_block_text
								| «GoPro это ваще огонь!!! Я прыгнул с тарзанки с этой камерой. Жаль портки!  Теперь могу прыгнуть в любое время, достаточно включить запись - эмоции зашкаливают, как будто снова лечу вниз!! Ааа!!! Хорошо стиралка под рукой!»
					.rewiev_block
						img(src="img/review_img_2.jpg" alt="отзыв" width=110 height=110).rewiev_block_img
						.rewiev_block_desc
							.rewiev_block_title
								| Денис Никонов
							a(href="https://vk.com/denikon").rewiev_block_link
								| https://vk.com/denikon
							.rewiev_block_text
								| «GoPro это ваще огонь!!! Я прыгнул с тарзанки с этой камерой. Жаль портки!  Теперь могу прыгнуть в любое время, достаточно включить запись - эмоции зашкаливают, как будто снова лечу вниз!! Ааа!!! Хорошо стиралка под рукой!»
					.rewiev_block
						img(src="img/review_img_3.jpg" alt="отзыв" width=110 height=110).rewiev_block_img
						.rewiev_block_desc
							.rewiev_block_title
								| Денис Никонов
							a(href="https://vk.com/denikon").rewiev_block_link
								| https://vk.com/denikon
							.rewiev_block_text
								| «GoPro это ваще огонь!!! Я прыгнул с тарзанки с этой камерой. Жаль портки!  Теперь могу прыгнуть в любое время, достаточно включить запись - эмоции зашкаливают, как будто снова лечу вниз!! Ааа!!! Хорошо стиралка под рукой!»
					.rewiev_block
						img(src="img/review_img_4.jpg" alt="отзыв" width=110 height=110).rewiev_block_img
						.rewiev_block_desc
							.rewiev_block_title
								| Денис Никонов
							a(href="https://vk.com/denikon").rewiev_block_link
								| https://vk.com/denikon
							.rewiev_block_text
								| «GoPro это ваще огонь!!! Я прыгнул с тарзанки с этой камерой. Жаль портки!  Теперь могу прыгнуть в любое время, достаточно включить запись - эмоции зашкаливают, как будто снова лечу вниз!! Ааа!!! Хорошо стиралка под рукой!»
		.modal_block
			.modal
				.modal_title
					| Оформите заявку
				form(action method="POST")#send_form
					input(name="name" type="text" placeholder="Как к вам обращаться?").input
					input(name="phone" type="text" placeholder="+7 (___)-___-__-__").input
					input(type="submit" value="Отправить").submit_btn
					.modal_text
						| Мы свяжемся с вами<br> в течение 10 минут
		script(src="app/bower_components/jquery/jquery.js")
		script(src="app/bower_components/qtip2/jquery.qtip.js")
		script(src="app/bower_components/swiper/dist/js/swiper.min.js")
		script(src="app/bower_components/swiper/dist/js/swiper.jquery.min.js")
		script(src="app/bower_components/instafeed.js/instafeed.min.js")
		script(src="js/main.js")