doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
	head

		head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		title Автостартер

		link(rel='shortcut icon', href='img/favicon.ico')
		meta(name='viewport' content='width=960')
		link(rel='stylesheet', href='css/style.css', type='text/css')

		//font-awesome
		link(rel='stylesheet', href='fonts/font-awesome/css/font-awesome.css', type='text/css')
		//qtip2
		link(rel='stylesheet', href='app/bower_components/qtip2/jquery.qtip.css', type='text/css')
		//normalize
		link(rel='stylesheet', href='app/bower_components/normalize-css/normalize.css', type='text/css')
		// modernizr
		script(src='app/bower_components/modernizr/modernizr.js')

	body
		<!--[if lt IE 8]>
		<p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
		<![endif]-->
		.header
			.main_container.clearfix
				span.logo Автостартер
				.soc_btns
					a(href="#" target="_blank")
						.vk_tab
						.vk
					a(href="#" target="_blank")
						.mail_tab
						.mail
				span.address г. Чебоксары, ул. Федора Гладкова, д.3


				.connect_block_links
					span.phone 8 (352) 608-777
					a(href="#").discounts Скидки
					a(href="#").prices Цены
					a(href="#").contacts Контакты
		.header_container
			.main_container.clearfix
				.connect_block.clearfix
					h1.connect_block_title Не заводится авто?<br> Нет заряда аккумулятора?
					h2.connect_block_description Ремонт стартеров, генераторов и агрегатов любой сложности от 400 руб.
					a(href="#").connect_block_btn связаться
		.service_container
			.main_container.clearfix
				.service
					.service1_img
					span.service_title Профессионализм
					span.service_text Ремонт стартеров и генераторов производится только сертифицированными специалистами
				.service
					.service2_img
					span.service_title Гарантии
					span.service_text Предоставляем гарантию до 3 месяцев на ремонт и замененные узлы
				.service
					.service3_img
					span.service_title Широкий ассортимент
					span.service_text Более 45 наименований запчастей и агрегатов от ведущих мировых производителей
				.service
					.service4_img
					span.service_title Универсальность
					span.service_text Ремонтируем стартеры и генераторы любого вида техники
		.form_container
			.main_container.clearfix
				.shadow_block
					.form_block
					.starter_img
		.prices_container

		script(src="app/bower_components/jquery/jquery.js")
		script(src="js/main.js")