.brands_container {
  min-height: 450px;
  background-color: white;
}
.brand_title {
  position: relative;
  top: 70px;
}
.brand {
  float: left;
  margin-left: 10px;
  margin-bottom: 29px;
  width: 227px;
  height: 110px;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.5);
  &:first-child {
    margin-left: 0px;
  }
  &:nth-child(5) {
    margin-left: 0px;
  }
}
.brands_imgs {
  margin-top: 100px;
}
