.certificate_container {
  min-height: 770px;
  background-color: white;
}
.certificate_imgs {
  margin-left: -10px;
}
.certificate {
  float: left;
  width: 430px;
  height: 598px;

  &:first-child {
    margin-right: 50px;
  }
}