@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}
.footer {
  height: 320px;
  position: relative;
}
.footer_info, .work_time, .telephone, .address_name {
  margin: 0px;
  list-style: none;
}
.work_time, .telephone, .address_name {
  padding-left: 35px;
}
.footer_info {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  padding-top: 32px;
  top: -320px;
  width: 411px;
  height: 288px;
  @include ptSansReg (18px, #9d9c9f);
  background-color: rgba(0,0,0,0.8);
  line-height: 28px;
  & ul {
    color: white;
  }
}
iframe {
  height: 320px;
  position: relative;
  top: 4px;
}
.mail_address {
  text-decoration: underline;
}