@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}
.footer {
  height: 320px;
  position: relative;
}
.footer_info, .work_time, .telephone, .address_name {
  margin: 0px;
  list-style: none;
}
.work_time, .telephone, .address_name {
  padding-left: 35px;
}
.mail_address {
  text-decoration: underline;
}
//.main_container_footer {
//  position: absolute;
//  top: 0px;
//  left: 50%;
//  margin-left: -470px;
//  width: 940px;
//  //margin: 0 auto;
//  padding: 0 10px 0 10px;
//  z-index: 1;
//}
