@mixin ptSansCaptBold ($size, $color) {
  font-family: "PT Sans Caption Bold";
  font-size: $size;
  color: $color;
}
@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}
@mixin days ($size, $color) {
  font-family: "Days";
  font-size: $size;
  color: $color;
}
.form_container {
  position: relative;
  //min-height: 566px;
  background-color: white;
}
.shadow_block {
  position: relative;
  left: -89px;
  top: 0px;
  width: 887px;
  min-height: 566px;
  background-color: black;
  -webkit-box-shadow: inset 5px 528px 65px 36px rgba(255,255,255,1);
  -moz-box-shadow: inset 5px 528px 65px 36px rgba(255,255,255,1);
  box-shadow: inset 5px 528px 65px 36px rgba(255,255,255,1);
}
.form_block {
  position: relative;
  //top: 28px;
  //left: 90px;
  float: left;
  //display: inline-block;
  width: 350px;
  min-height: 314px;
  background-color: #261e24;
  //background-color: yellow;
  border-radius: 3px;
  padding: 30px 0px 30px 0px;
  z-index: 2;

  &:before {
    content: "";
    position: absolute;
    left: -100px;
    bottom: 0;
    display: block;
    width: 937px;
    height: 75px;
    background: url("../img/shadow.png");
    z-index: 1;
  }
}
.starter_img {
  width: 447px;
  height: 294px;
  bottom: -32px;
  left: 360px;
  position: absolute;
  background: url("../img/starter.png") no-repeat;
  z-index: 3;
}
.politic_cart {
  //float: left;
  display: none;
  //display: block;
  position: absolute;
  //left: 0;
  left: 350px;
  bottom: 0;
  //top: 387px;
  //left: 809px;
  @include ptSansReg (14px, white);
  width: 391px;
  height: 179px;
  background: url("../img/politic_cart.png") no-repeat;
}
.politic_cart_text {
  display: block;
  padding: 35px 40px 30px 40px;
}
.disc_title {
  //position: absolute;
  //margin-top: 121px;
  //z-index: 3;
}
.disc_text {
  display: block;
  position: absolute;
  width: 445px;
  margin-left: 370px;
  margin-top: 26px;
  @include ptSansReg (18px, #261e24);
  line-height: 18px;
  z-index: 3;
}
.form_block_inner {
  width: 268px;
  min-height: 256px;
  padding: 31px 29px;
  background-color: #3c353a;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.disc_percent {
  float: left;
  line-height: 42px;
  @include days(57px, #ef6210);
}
.disc_percent_text {
  float: left;
  width: 148px;
  line-height: 16px;
  @include ptSansReg(16px, white);
}
.contacts_input {
  width: 233px;
  min-height: 38px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border: none;
  @include ptSansReg(16px, #767676);
}
.btn_animation {
  width: 148px;
  min-height: 34px;
  @include ptSansReg(18px, white);
  text-align: center;
  line-height: 34px;
  border-radius: 3px;
  background-color: #ef6210;
  margin-right: auto;
  margin-left: auto;
  margin-top: 23px;
}
.submit_btn {
  background: transparent;
  border: none;
}
.form_footer_btn {
  display: block;
  margin-top: 12px;
  margin-left: 14px;
  @include ptSansReg(16px, white);
  text-decoration: underline;
  cursor: pointer;
  &:before {
    position: relative;
    left: -12px;
    display: inline-block;
    content: "";
    width: 11px;
    height: 15px;
    background: url("../img/lock.png");
  }
}

