@mixin ptSansCaptBold ($size, $color) {
  font-family: "PT Sans Caption Bold";
  font-size: $size;
  color: $color;
}
@mixin ptSansBold ($size, $color) {
  font-family: "PT Sans Bold";
  font-size: $size;
  color: $color;
}
@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}

.header_container {
  min-height: 596px;
  background-repeat: no-repeat;
}
@media (min-width: 1920px) {
  .header_container {
    background-size: 100%;
    background-position: 0% 75%;
    background-image: url("../img/header_content.jpg");
  }
}
@media (max-width: 1920px) {
  .header_container {
    background-image: url("../img/header_content.jpg");
  }
}
@media (max-width: 1600px) {
  .header_container {
    background-image: url("../img/header_content_1600.jpg");
  }
}
@media (max-width: 1440px) {
  .header_container {
    background-image: url("../img/header_content_1440.jpg");
  }
}
@media (max-width: 1366px) {
  .header_container {
    background-image: url("../img/header_content_1366.jpg");
  }
}
@media (max-width: 1280px) {
  .header_container {
    background-image: url("../img/header_content_1280.jpg");
  }
}
@media (max-width: 1024px) {
  .header_container {
    background-image: url("../img/header_content_1024.jpg");
  }
}
@media (max-width: 800px) {
  .header_container {
    background-image: url("../img/header_content_800.jpg");
  }
}
@media (max-width: 960px) {
  .header_container {
    background-image: url("../img/header_content_960.jpg");
  }
}
.connect_block {
  width: 50%;
  margin-top: 225px;
}
.connect_block_title {
  margin: 0px;
  @include ptSansCaptBold(30px, white);
  line-height: 33px;
}
.connect_block_description {
  margin: 20px 0px 0px;
  @include ptSansBold(20px, white);
}
.connect_block_btn {
  float: left;
  width: 141px;
  min-height: 42px;
  margin-top: 41px;
  background-color: #ef6210;
  border-radius: 3px;
  text-align: center;
  line-height: 42px;
  text-decoration: none;
  @include ptSansReg (18px, white);

  &:hover {
    background-color: #ee7e3e;
  }
  &:active {
    background-color: #ce5611;
  }
}
