@mixin ptSansCaptBold ($size, $color) {
  font-family: "PT Sans Caption Bold";
  font-size: $size;
  color: $color;
}
@mixin ptSansBold ($size, $color) {
  font-family: "PT Sans Bold";
  font-size: $size;
  color: $color;
}
@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}

.header_container {
  min-height: 526px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 75%;
  background-image: url("../img/header_content.jpg");
}
.connect_block {
  width: 402px;
  margin-top: 80px;
}
.connect_block_title {
  margin: 0px;
  @include ptSansCaptBold(30px, white);
}
.connect_block_description {
  margin: 7px 0px 0px;
  @include ptSansBold(20px, white);
}
.connect_block_btn {
  float: left;
  width: 141px;
  min-height: 42px;
  margin-top: 40px;
  background-color: #ef6210;
  border-radius: 3px;
  text-align: center;
  line-height: 42px;
  text-decoration: none;
  @include ptSansReg (18px, white);
}
