@mixin furore ($size, $color) {
  font-family: "furore";
  font-size: $size;
  color: $color;
}
@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}
@mixin ptSansBold ($size, $color) {
  font-family: "PT Sans Bold";
  font-size: $size;
  color: $color;
}

.logo {
  display: inline-block;
  width: 160px;
  height: 42px;
  background-image: url("../img/logo.png");
}
.menu_top {

}