@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}
@mixin ptSansCaptBold ($size, $color) {
  font-family: "PT Sans Caption Bold";
  font-size: $size;
  color: $color;
}
.rouble {
  font-family: 'als_rubl';
}
.prices_container {
  min-height: 344px;
  background-color: white;
  position: relative;
}
.table_prices{
  width: 100%;
  z-index: 123;
  @include ptSansReg(18px, #261e24);
  & tr {
    height: 21px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    &:first-child {
      height: 47px;
      border-bottom: 2px solid #c2b3b4;
      cursor: default;
      vertical-align: bottom;
      td {
        padding-bottom: 5px;
      }
    }
    &:nth-child(2) {
      td {
        padding-top: 5px;
      }
    }
    &.tr5 {
      td {
        padding-top: 5px;
      }
    }
    &.tr6 {
      td {
        padding-bottom: 5px;
      }
    }
  }

  & td {
    &:first-child {
      width: 185px;
    }
    &:nth-child(2) {
      width: 85px;
    }
    &:nth-child(3) {
      width: 75px;
      text-align: right;
    }
    &:nth-child(4) {
      width: 120px;
      text-align: right;
    }
    &:nth-child(5) {
      width: 95px;
      text-align: right;
    }
    &:nth-child(6) {
      width: 110px;
      text-align: right;
    }
    &:nth-child(7) {
      width: 90px;
      text-align: right;
    }

  }
}
.tbl {
  position: absolute;
  top: 73px;
  width: 100%;
  & tr {
    height: 27px;
    &:first-child {
      border-bottom: 2px solid white;
      height: 47px;
    }
    &:nth-child(2) {
      height: 29px;
    }
    &:nth-child(3) {
      height: 23px;
    }
    &:nth-child(4) {
      height: 23px;
    }
    &:nth-child(5) {
      height: 28px;
    }
    &:nth-child(6) {
      height: 28px;
    }
    &:nth-child(7) {
      height: 23px;
    }
    &:nth-child(8) {
      height: 23px;
    }
  }
  & td {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }
}
#prices {
  position: relative;
  bottom: 190px;
}