@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}
@mixin ptSansCaptBold ($size, $color) {
  font-family: "PT Sans Caption Bold";
  font-size: $size;
  color: $color;
}
.rouble {
  font-family: 'als_rubl';
}
.prices_container {
  min-height: 354px;
  background-color: white;
}
.ttt {
  height: 100px;
}
.prices_title {
  position: relative;
  top: 60px;
}
.table_prices{
  position: relative;
  width: 100%;
  z-index: 123;
  @include ptSansReg(18px, #261e24);
  & tr {
    cursor: pointer;
    height: 27px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    &:first-child {
      height: 60px;
      border-bottom: 2px solid #c2b3b4;
      cursor: default;
      vertical-align: bottom;
      padding-bottom: 15px;
    }
  }
  & td {
    &:first-child {
      width: 185px;
    }
    &:nth-child(2) {
      width: 85px;
    }
    &:nth-child(3) {
      width: 75px;
      text-align: right;
    }
    &:nth-child(4) {
      width: 120px;
      text-align: right;
    }
    &:nth-child(5) {
      width: 95px;
      text-align: right;
    }
    &:nth-child(6) {
      width: 110px;
      text-align: right;
    }
    &:nth-child(7) {
      width: 90px;
      text-align: right;
    }

  }
}
.tbl {
  position: absolute;
  width: 100%;
  & tr {
    height: 27px;
    &:first-child {
      height: 60px;
    }
  }
  & td {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }
}