@mixin ptSansReg ($size, $color) {
  font-family: "PT Sans Regular";
  font-size: $size;
  color: $color;
}
@mixin ptSansBold ($size, $color) {
  font-family: "PT Sans Bold";
  font-size: $size;
  color: $color;
}
@mixin ptSansCapBold ($size, $color) {
  font-family: "PT Sans Caption Bold";
  font-size: $size;
  color: $color;
}

.roubl {
  font-family: "als_rubl", sans-serif ;
  width: 90px;
  text-align: right;
  padding-bottom: 15px;
  padding-right: 30px;
}
.table {
  @include ptSansReg (16px, #2c2c2c);
  margin-left: 60px;
  margin-bottom: 36px;
}
.heat {
  text-align: left;
  padding-left: 34px;
  padding-bottom: 15px;
 }
.range {
  font-size: 10px;
  //display: inline-block;
  outline: none;
  -webkit-appearance: none;
  position: absolute;
  right: -112px;
  top: 339px;
  width: 420px;
  -moz-transform: rotate(270deg); /* Äëÿ Firefox */
  -ms-transform: rotate(270deg); /* Äëÿ IE */
  -webkit-transform: rotate(270deg); /* Äëÿ Safari, Chrome, iOS */
  -o-transform: rotate(270deg); /* Äëÿ Opera */
  transform: rotate(270deg);
  z-index: 2;
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    position: relative;
    //width: 367px;
    //height: 40px;
    //background: linear-gradient(#d5cebc, #d5cebc) no-repeat 50% 0;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: absolute;
    bottom: -100px;
    background: url("../img/key.png") no-repeat;
    width: 53px;
    height: 324px;
  }
}
@media (max-width: 960px) {
  .range {
    top: 354px;
    //right: -102px;
  }
}
output {
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
.plus, .minus {
  display: inline-block;
  @include ptSansReg (16px, #2c2c2c);
  line-height: 11px;
  position: relative;
  top: 2px;
  cursor: pointer;
  width: 10px;
}
.minus {
  margin-right: 7px;
}
.qual {
  position: relative;
  top: -1px;
  @include ptSansReg (10px, #2c2c2c);
  height: 11px;
  width: 21px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  text-align: center;
  line-height: 11px;
  margin-right: 11px;
}
.table_tr {
  &:nth-child(2n) {
    background: #e8e8e8;
    height: 23px;
  }
  &:nth-child(2n+1) {
    height: 27px;
  }
}
.table_td {
  &:nth-child(1) {
    width: 128px;
    text-align: center;
  }
  &:nth-child(2) {
    width: 320px;
  }
  &:nth-child(3) {
    text-align: right;
    padding-right: 30px;
    //&::after {
    //  position: absolute;
    //  margin-left: 30px;
    //  content: "";
    //  width: 225px;
    //  height: 20px;
    //  background-color: green;
    //}
  }
}
.disc_td {
  padding-bottom: 15px;
  width: 225px;
  text-align: right;
}
.disc_scale {
  //position: relative;
  background: url("../img/calc.png") no-repeat;
  .attention {
    @include ptSansReg (12px, black);
    position: absolute;
    text-align: right;
    width: 141px;
    right: 115px;
    top: 168px;
    .red {
      color: #d2655f;
    }
  }
  .percent50, .percent30, .percent15 {
    position: absolute;
    @include ptSansBold (56px, rgba(255, 255, 255, 0.5));
  }
  .percent50 {
    right: 96px;
    top: 230px;
  }
  .percent30 {
    right: 96px;
    top: 357px;
  }
  .percent15 {
    right: 96px;
    top: 433px;
  }
}

.sum_container {
  padding-right: 86px;
}
.sum_block {
  float: right;
  text-align: right;
  margin-right: 17px;
  min-height: 44px;
  @include ptSansBold (24px, black);
  line-height: 17px;
  padding-top: 6px;
  .days, .sum_days {
    color: #d2655f;
  }
  .discount_text, .sum_disc, .disc_roubl {
    font-size: 16px;
  }
}
.sum_per_day_block {
  min-height: 47px;
  border-left: 1px solid black;
  float: right;
  padding-left: 15px;
  @include ptSansBold (18px, black);
  .sum_per_day {
    font-size: 35px;
    height: 27px;
    display: block;
    line-height: 33px;
  }
  .days_text {
    @include ptSansBold (18px, black);
  }
}
.price_list_block {
  @include ptSansReg(12px, black);
  .price_list {
    text-decoration: underline;
    color: black;
  }
}
@media (max-width: 960px) {
  .price_list_block {
    @include ptSansReg(6px, black);
  }
}
.sum {
  min-height: 50px;
  margin-bottom: 11px;
  .roubl {
    font-weight: bold;
    padding: 0;
  }
}
.price_list_block {
  text-align: right;
}
.num_days_block {
  position: absolute;
  left: 665px;
  bottom: 132px;
  text-align: left;
  @include ptSansCapBold (18px, black);
}
@media (max-width: 960px) {
  .num_days_block {
    bottom: 192px;
  }
}